node_modules/
.DS_Store
.idea/
*.iml
.project
.svn
npm-debug.log

# BEM
.bem/cache/
.enb/tmp/

src/fontend/dist/*
!src/fontend/dist/.gitkeep
src/fontend/src/bundles*/*/*.*
!src/fontend/src/bundles*/*/*.bemdecl.js
src/fontend/src/bundles*/*/*.bemhtml.bemdecl.js
